.body {
    margin: 0;
}

.body * {
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 11px;
}

.logo {
    color: #E3B873;
    font-family: Nunito Sans, Public Sans, Arial;
}

.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
}

.header-navigation__item a {
    text-decoration: none;
    color: white;
    font-family: Nunito Sans, Public Sans, Arial;
    font-size: 11px;
}

.hero {
    background-image: url('../images/hero.jpg');
    background-color: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.hero-container {
    position: relative;
    z-index: 1;
}

.title {
    margin: 0;
    font-family: Yeseva One, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53.13px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.colortext {
    color: #E3B873;
}

.block_text {
    font family: Nunito Sans font;
    font style: Regular;
    font-weight: normal;
    font size: 22px;
    line height: 36px;
    color: #FFFFFF;
}

.button_calculate {
    position: relative;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
}

.button_submit {
    position: relative;
    background: #E3B873;
    box-shadow: 0px 7px 21px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
}