    .body {
        margin: 0;
        font-family: Nunito Sans;
    }
    
    .body * {
        box-sizing: border-box;
    }
    
    .container {
        max-width: 1250px;
        margin: 0 auto;
    }
    
    .button {
        background: #E3B873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        border-radius: 2px;
        outline: 0;
        border: 0;
        padding: 13px 33px;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 11px;
    }
    
    .logo {
        color: #E3B873;
        font-family: Nunito Sans, Public Sans, Arial;
    }
    
    .header {
        background-color: black;
    }
    
    .header-content {
        display: flex;
        justify-content: space-between;
        height: 83px;
        align-items: center;
    }
    
    .header-navigation {
        list-style: none;
        display: flex;
    }
    
    .header-navigation__item {
        margin-right: 47px;
    }
    
    .header-navigation__item a {
        text-decoration: none;
        color: white;
        font-family: Nunito Sans, Public Sans, Arial;
        font-size: 14px;
    }
    
    .header-navigation__item_phone a {
        text-decoration: none;
        color: #E3B873;
        font-family: Nunito Sans, Public Sans, Arial;
        font-size: 14px;
    }
    
    .hero {
        background-image: url('../images/hero.jpg');
        background-color: cover;
        height: 707px;
        padding-top: 194px;
        position: relative;
    }
    
    .hero-overlay {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    .hero__container {
        position: relative;
        z-index: 1;
    }
    
    .title {
        margin: 0;
        font-family: Yeseva One, 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 53.13px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .colortext {
        color: #E3B873;
    }
    
    .block_text {
        font-family: Nunito Sans;
        font-style: Regular;
        font-weight: normal;
        font-size: 22px;
        line-height: 36px;
        color: #FFFFFF;
    }
    
    .button_calculate {
        position: relative;
        background: #E3B873;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
        border-radius: 2px;
        font-family: Nunito Sans;
        font-style: Italic;
        font-size: 11px;
        outline: 0;
        border: 0;
        padding: 13px 33px;
        cursor: pointer;
        color: white;
    }
    
    .button_submit {
        position: relative;
        box-shadow: 0px 7px 21px rgba(227, 184, 115, 0.3);
        border-radius: 2px;
        font-family: Nunito Sans;
        font-style: Italic;
        font-size: 11px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        outline: 0;
        border: 0;
        padding: 13px 33px;
        cursor: pointer;
        background-color: transparent;
        color: white;
    }
    
    .completed-projects {
        display: flex;
        background-color: #131313;
    }
    
    .container-completed-projects {
        height: 300px;
        flex: 1;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: space-between;
        padding: 107px 60px 415px;
        width: 444px;
    }
    
    .container-completed-projects:first-child {
        margin-right: 20px;
    }
    
    .completed-projects__title {
        font-family: Yeseva One;
        font-style: normal;
        font-size: 27px;
        color: #E3B873;
    }
    
    .completed-projects__subtitle {
        font-family: Yeseva One;
        font-style: normal;
        font-size: 18px;
        color: #E3B873;
    }
    
    .completed-projects__text {
        font-family: Nunito Sans;
        font-style: normal;
        font-size: 14px;
        color: #FFFFFF;
    }
    
    .completed-projects-block__left {
        display: flex;
        flex-wrap: wrap;
        padding: 0px
    }
    
    .completed-projects-block__left__item {
        font-family: Nunito Sans;
        margin-top: 34px;
        width: 50%;
    }
    
    .completed-projects-block__left__item h3 {
        color: #e3b873;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 9px;
    }
    
    .completed-projects-block__left__item span {
        color: #fff;
        font-size: 13px;
        line-height: 21px;
    }
    
    .completed-projects-block__right {
        display: flex;
        font-size: 14px;
        width: 344px;
        margin-left: -140px;
    }
    
    .completed-projects-block__right__item {
        margin-right: 15px;
        white-space: nowrap;
        font-family: Nunito Sans;
    }
    
    .completed-projects-block__right__item a {
        font-family: Nunito Sans;
        font-style: normal;
        color: rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid transparent;
        transition: 0.2s ease;
        text-decoration: none;
    }
    
    .completed-projects-block__right__item:hover a {
        color: #e3b873;
        border-bottom-color: #e3b873;
    }
    
    .container-completed-projects__img {
        margin-left: -100px;
    }
    
    .completed-projects-block__left__carousel {
        margin-top: 70px;
        display: flex;
        align-items: center;
    }
    
    .completed-projects-block__left__carousel button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .completed-projects-block__left__carousel__arrow {
        width: 42px;
        height: 14px;
        margin-right: 21px;
    }
    
    button.completed-projects-block__left__carousel {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin: 9px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    
    button.completed-projects-block__left__carousel.active {
        background-color: #fff;
    }
    
    button.completed-projects-block__left__carousel:hover {
        background-color: #fff;
    }
    
    .online__control__container {
        max-width: 1350px;
        height: 300px;
        text-align: center;
        margin-top: -50px;
        background-color: #131313;
        /* border-style: solid;
                border-color: red; */
    }
    
    .online__control__container__sub {
        color: white;
        height: 20px;
        /* border-style: solid;
                border-color: greenyellow; */
    }
    
    .online__control__camera {
        height: 150 px;
        background-color: #131313;
        /* border-style: solid;
                border-color: white; */
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
    }
    
    .online__control__camera__left {
        margin-right: 15px;
        /* border-style: solid;
                border-color: rgb(47, 95, 255); */
    }
    
    .online__control__camera__right {
        margin-left: 15px;
        /* border-style: solid;
                border-color: rgb(147, 95, 255); */
    }
    
    .online__control-video {
        align-items: center;
        /* position: relative;*/
        width: 50%;
    }
    
    .online__control-video img {
        position: relative;
        filter: brightness(0.4);
        left: 260px;
    }
    
    .online__control-video__button {
        position: absolute;
        background-image: url('../images/Group 8.svg');
        background-position: -30px -25px;
        background-repeat: no-repeat;
        height: 85px;
        width: 85px;
        left: 370px;
        transform: translate(300%, -300%);
        border: none;
        cursor: pointer;
        border-radius: 50%;
        z-index: 1;
        /* display: flex;
        justify-content: center; */
    }
    
    .divider {
        width: 55px;
        height: 1px;
        line-height: 2;
        border-radius: 30px;
        margin: 0 auto 34px;
        font-family: Nunito Sans;
        font-size: 18px;
        text-align: center;
        display: inline;
    }
    
    .control p {
        line-height: 37px;
        width: 681px;
        margin: 34px auto 91px;
    }
    
    #control_form {
        padding: 0 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .control-form__check,
    .control-form__group,
    .ctrl__submit {
        margin-right: 18px;
        margin-left: 18px;
    }
    
    .label {
        color: rgba(54, 54, 54, 0.5);
        font-size: 13px;
        line-height: 21px;
        display: block;
        text-align: left;
    }
    
    .ctrl__label_check,
    .measurer__label_check,
    .question__label_check {
        color: #181818;
        font-size: 14px;
        line-height: 18px;
        display: inline;
        cursor: pointer;
        position: relative;
        -webkit-tap-highlight-color: transparent;
    }
    
    .ctrl__submit {
        padding: 20px 75px 16px 76px;
        font-style: normal;
    }
    
    .input {
        font-size: 14px;
        line-height: 23px;
        color: #363636;
        width: 231px;
        border: none;
        border-bottom: 1px solid rgba(54, 54, 54, 0.3);
        padding-bottom: 3px;
    }
    
    .input::placeholder {
        color: #fff;
        opacity: 1;
    }
    
    .ctrl__input::placeholder {
        color: #363636;
    }
    
    .input:focus {
        outline: none;
    }
    
    .control-form__check {
        margin-top: 35px;
    }
    
    #ctrl_check,
    #measurer_check,
    #question_check {
        display: none;
    }
    
    .ctrl__label_check:before,
    .measurer__label_check:before,
    .question__label_check:before {
        content: '';
        height: 18px;
        width: 18px;
        display: inline-block;
        vertical-align: text-top;
        border: 1px solid #363636;
        background-color: #fff;
        transition: background-color 0.3s, border-color 0.3s;
        border-radius: 1px;
        color: transparent;
        margin-right: 8px;
        box-sizing: border-box;
    }
    
    .ctrl__label_check:after,
    .measurer__label_check:after,
    .question__label_check:after {
        content: '';
        position: absolute;
        width: 3px;
        height: 9px;
        border: 2px solid #fff;
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 1px;
        transform: rotate(43deg);
    }
    
    #ctrl_check:checked+.label:before,
    #measurer_check:checked+.label:before,
    #question_check:checked+.label:before {
        background-color: #e3b873;
        border-color: #e3b873;
    }
    /* .videocamera-icon:after {
                content: '';
                width: 32px;
                height: 1.5px;
                border-radius: 30px;
                background-color: #e3b873;
                display: block;
                top: 15%;
                position: absolute;
                left: -40px;
            }
            
            .videocamera-icon:before {
                content: '';
                width: 32px;
                height: 1.5px;
                border-radius: 30px;
                background-color: #e3b873;
                display: block;
                top: 15%;
                position: absolute;
                left: 40px;
            } */